[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "powerbydesign"]
	path = powerbydesign
	url = https://github.com/cran/powerbydesign
[submodule "segmag"]
	path = segmag
	url = https://github.com/cran/segmag
